.auth {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  padding: 24px;
  background-color: $mid-grey;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 280px;
  }

  .logo {
    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 1.5em;
    text-align: center;
    margin-top: 35px;
    font-weight: 700;
  }

  &-links {
    a {
      color: $primary;
      text-decoration: none;
    }
  }

  &-input-container {
    width: 100%;
    margin-top: 20px;
  }

  &-input {
    display: block;
    margin-top: 2px;

    input {
      width: 100%;
    }
  }

  &-error {
    font-size: 12px;
    margin-top: 8px;
    color: $red;
  }

  &-button {
    width: 100%;
  }

  &-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
