.bounding-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 10px;

  &-wrapper {
    position: absolute;
    background: $lime;
    opacity: 0.5;
    border: 1px solid $teal;
  }

  &-selection {
    margin: 10px auto;
  }

  &-selected {
    margin: 10px auto;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    width: 100%;

    table {
      font-size: 12px;

      tbody {
        tr {
          td {
            padding: 5px;
          }
        }
      }
    }
  }

  &-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;

    label {
      margin-bottom: 5px;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }

    input {
      width: 100px;
      margin: auto;
      text-align: center;
      font-size: 16px;
    }
  }

  &-button {
    width: 100%;
  }
}
