.bounding-box {
  &-wrapper {
    position: absolute;
    background: $light-green;
    opacity: 0.5;
    border: 3px dashed $teal;
    pointer-events: none;
  }

  &-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .p-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: transparent;
      border: 1px solid $white;
      border-radius: 8px;
      cursor: pointer;
      margin: auto 5px;
      outline: none;

      &-label {
        display: none;
      }

      svg {
        color: $white;
        font-size: 20px;
      }

      &:hover {
        background: $white;
        color: $secondary;
        transition: $transition;

        svg {
          color: $secondary;
          transition: $transition;
        }
      }
    }

    &-button-selected {
      background: $white !important;
      color: $secondary !important;
      transition: $transition;

      svg {
        color: $secondary !important;
        transition: $transition;
      }
    }
  }
}
