$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #011e41;
$blue: #0073a6;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #f28a00;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #424250;
$light-grey: #f2f2f2;
$blue-grey: #607d8b;
$dark-grey: #33333d;
$white: #ffffff;
$black: #000000;
$mint: #adefd1;
$blazing-yellow: #ffe715;
$island-green: #2bae66;
$clear-water: #abd6df;
$living-coral: #ff6f61;

$primary: $blue;
$secondary: $indigo;
$tertiary: $orange;
$font-color: $black;

// edge colors
$node-background: $mint;
$node-selected: $living-coral;
$node-highlight: $blazing-yellow;
