.custom-query {
  &-loader {
    width: 100%;
    margin-left: 36px;

    .p-progress-spinner {
      width: 30px;
      height: 30px;
    }
  }

  &-editor {
    background: $white;
    color: $font-color;
    border-radius: 20px;

    &-wrapper {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }

  &-input {
    width: 100%;

    i {
      right: 20px !important;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-info {
    span {
      word-break: break-all;
    }
  }

  &-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 0.5px solid $white;

    &-selected {
      background: $indigo;
    }

    .p-button {
      width: 100%;
      padding: 10px;
      background: transparent;
      font-size: 18px;
      cursor: pointer;
      outline: none;
      border: none;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      word-wrap: break-word;

      &-label {
        display: none;
      }

      span {
        text-align: left;
        word-wrap: break-word;
        width: calc(100% - 15px);
        padding: 5px;
        font-size: 12px;
      }

      &:hover {
        background: $white;
        color: $secondary;
        transition: $transition;
      }

      &:disabled {
        opacity: 1;
      }
    }

    &-delete {
      width: 50px;
    }

    &-main {
      width: calc(100% - 50px);
    }
  }
}
