.entry-search {
  &-block {
    border-top: 1px solid $mid-grey;
    border-bottom: 1px solid $mid-grey;

    &-row {
      width: 100%;

      .p-dropdown,
      .p-input,
      .p-inputtext {
        width: 100%;
      }

      .p-dropdown-item {
        word-break: break-word;
        height: auto;
        white-space: normal;
      }
    }
  }

  &-row {
    width: 100%;
    margin-bottom: 40px;

    label {
      width: 100%;
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }

    .p-selectbutton {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .p-field-radiobutton {
      margin: 20px;

      label {
        text-align: left;
        margin: 0;
        margin-left: 10px;
      }
    }

    &-checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;

      label {
        text-align: left;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }

    .p-multiselect {
      width: 100%;

      &-label {
        color: $font-color;
      }
    }
  }
}
