.entry-search {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;

  &-row {
    width: 100%;
    margin-bottom: 40px;

    label {
      width: 100%;
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }

    .p-selectbutton {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      label {
        text-align: left;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }

    .p-multiselect {
      width: 100%;

      &-label {
        color: $font-color;
      }
    }
  }
}
