footer {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background: $secondary;
  color: $white;

  #back-button {
    border-radius: 20px;
    background: $indigo;
    color: $white;
    border: 1px solid $white;

    &:hover {
      color: $secondary !important;
      background: $white;
      border: 1px solid $white;
    }
  }

  .p-paginator {
    background: $secondary;

    button {
      color: $white !important;

      &.p-highlight,
      &:hover {
        background: $secondary !important;
        border: 2px solid $white !important;
      }
    }
  }
}
