footer {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;
  color: $white;

  .p-paginator {
    background: $secondary;

    button {
      color: $white !important;

      &.p-highlight,
      &:hover {
        background: $secondary !important;
        border: 2px solid $white !important;
      }
    }
  }
}
