.graph-options {
  overflow-y: scroll;
  &-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      margin-left: 10px;
      text-align: left;
    }
  }

  &-text {
    padding: 10px;

    &-lower {
      padding: 5px 24px;
    }
  }

  &-select-button {
    padding: 20px 0;

    label {
      margin-bottom: 5px;
      width: 100%;
      font-size: 14px;
    }

    .p-selectbutton {
      margin: auto;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-selection {
    margin-top: 20px;

    &-row {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      margin-top: -1px;
      width: 100%;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;

      .remove-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
      }

      label {
        margin-bottom: 5px;
        width: 100%;
        font-size: 14px;
      }

      input,
      .p-dropdown {
        width: 100%;
        margin: auto;
        font-size: 16px;
      }
    }
  }

  &-selected {
    margin: 10px auto;
    font-size: 12px;
    text-align: left;
    width: 100%;

    table {
      font-size: 12px;

      tbody {
        tr {
          td {
            padding: 5px;
          }

          :nth-child(2) {
            word-break: break-all;
          }
        }
      }
    }
  }

  &-property {
    &-form {
      &-property {
        padding: 10px 0;
        border-top: 1px solid $mid-grey;
        border-bottom: 1px solid $mid-grey;

        // .p-dropdown,
        // .p-dropdown-panel,
        // .p-dropdown-items,
        // .p-dropdown-items-wrapper,
        // .p-input,
        // .p-inputtext {
        //   width: 100%;
        // }

        // .p-dropdown-item {
        //   width: 100%;
        //   word-break: break-word;
        //   height: auto;
        //   white-space: normal;
        // }
      }
    }
  }

  &-button {
    width: 100%;

    &-wrapper {
      width: 100%;
      padding: 12px 0;
    }
  }

  &-physics {
    width: 100%;
    text-align: center;
    padding: 20px 10px;

    .text-center {
      text-align: center;
    }

    &-selected {
      margin: 10px auto;
      font-size: 12px;
      text-align: left;
      padding: 10px;
      width: 100%;

      table {
        font-size: 12px;

        tbody {
          tr {
            td {
              padding: 5px;
            }
          }
        }
      }
    }

    &-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label,
      .labels {
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        font-size: 14px;
      }

      .label {
        margin-bottom: 10px;
      }

      #rating {
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .p-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: transparent;
        border: 1px solid $white;
        border-radius: 8px;
        cursor: pointer;
        margin: auto 5px;
        outline: none;

        &-label {
          display: none;
        }

        svg {
          color: $white;
          font-size: 20px;
        }

        &:hover {
          background: $white;
          color: $secondary;
          transition: $transition;

          svg {
            color: $secondary;
            transition: $transition;
          }
        }
      }

      &-button-selected {
        background: $white !important;
        color: $secondary !important;
        transition: $transition;

        svg {
          color: $secondary !important;
          transition: $transition;
        }
      }
    }
  }
}
