header {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header {
    &-left {
      display: flex;
      align-items: center;
      justify-content: center;

      .loader-box {
        width: 50px;

        .spinner {
          width: 50px;
          height: 50px;
        }
      }

      .logo {
        width: 140px;
        padding-top: 10px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;

      .p-chip {
        background: $red;
        color: $white;
      }

      .p-button-secondary {
        margin: 4px 0;
        width: 100%;
      }
    }
  }
}
