.main-view {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  &-area {
    width: 100%;
    height: calc(100% - 140px);

    .graph-container {
      position: relative;
      height: 100%;

      .vis-tooltip {
        background: $dark-grey;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}
