nav {
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $secondary;
  color: $white;

  .nodes-icon {
    vertical-align: text-top;
    color: $white;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: transparent;
    border: 1px solid $white;
    border-radius: 8px;
    cursor: pointer;
    margin: auto 5px;
    outline: none;

    svg {
      color: $white;
      font-size: 20px;
    }

    &:hover {
      background: $white;
      color: $secondary;
      transition: $transition;

      svg {
        color: $secondary;
        transition: $transition;
      }
    }
  }

  .nav {
    &-left,
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;

      .p-button {
        background: $white;

        svg {
          color: $secondary;
          transition: $transition;
        }
      }

      &-button-selected {
        background: $primary !important;
        color: $white;
        transition: $transition;

        svg {
          color: $white !important;
          transition: $transition;
        }
      }
    }
  }
}
