.network-styling {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 0;

  .p-accordion-tab {
    &.p-accordion-tab-active {
      .p-accordion-header-link {
        text-align: left;
        background: #32353c;
        color: white;
        border: 0 !important;
        border-radius: 0 !important;

        &:hover {
          background: white;
        }

        border-top: 1px solid;
      }
    }

    .p-accordion-header {
      &.p-highlight {
        .p-accordion-header-link {
          font-weight: bold;
        }
      }

      .p-accordion-header-link {
        text-align: left;
        background: #424350;
        color: white;
        border: 0;
        border-radius: 0;
        font-weight: 200;

        &:hover {
          background: white;
        }

        border-top: 1px solid;
        border-bottom: 1px solid;
      }
    }

    .p-accordion-content {
      text-align: left;
      font-size: 14px;
      border: 0;
      background: $dark-grey;
      color: white;
      padding: 10px;
      padding: 20px 10px 30px 10px;

      .p-accordion-header {
        font-weight: 200;

        &.p-highlight {
          a {
            background: #32353c;
            color: white;
            font-weight: bold;
          }
        }
      }

      .p-accordion-content {
        .p-accordion-header {
          &.p-highlight {
            a {
              background: #0382c9;
              color: white;
            }
          }
        }
      }

      .p-selectbutton {
        text-align: center;
      }

      .p-multiselect,
      .p-dropdown {
        width: 100%;
      }

      .colorpicker {
        .p-colorpicker {
          width: 30px;
          height: 30px;

          input {
            border: 1px solid white;
          }
        }

        span {
          margin-left: 10px;
        }
      }

      .p-accordion-header-link {
        padding: 9px;
        background: #32353c;
        border-bottom: 1px solid white !important;
        color: white;
      }

      .p-inputtext {
        width: 100%;
        border-radius: 0;
        background: $dark-grey;
        border: 0;
        color: white;
        text-align: center;
      }
    }
  }

  &-property-form-row {
    padding: 10px;

    .p-inputtext {
      background: $dark-grey;
      border: 1px solid $white !important;
    }

    .p-buttonset {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .colorpicker {
      width: 100%;
    }
  }
}
