.network-settings {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 0;

  .text-center {
    text-align: center;
  }

  &-selected {
    margin: 10px auto;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    width: 100%;

    table {
      font-size: 12px;

      tbody {
        tr {
          td {
            padding: 5px;
          }
        }
      }
    }
  }

  &-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label,
    .labels {
      margin-bottom: 5px;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }

    .label {
      margin-bottom: 10px;
    }

    #rating {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .p-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: transparent;
      border: 1px solid $white;
      border-radius: 8px;
      cursor: pointer;
      margin: auto 5px;
      outline: none;

      &-label {
        display: none;
      }

      svg {
        color: $white;
        font-size: 20px;
      }

      &:hover {
        background: $white;
        color: $secondary;
        transition: $transition;

        svg {
          color: $secondary;
          transition: $transition;
        }
      }
    }

    &-button-selected {
      background: $white !important;
      color: $secondary !important;
      transition: $transition;

      svg {
        color: $secondary !important;
        transition: $transition;
      }
    }
  }

  .p-accordion-tab {
    &.p-accordion-tab-active {
      .p-accordion-header-link {
        text-align: left;
        background: #32353c;
        color: white;
        border: 0 !important;
        border-radius: 0 !important;

        &:hover {
          background: white;
        }

        border-top: 1px solid;
      }
    }

    .p-accordion-header {
      &.p-highlight {
        .p-accordion-header-link {
          font-weight: bold;
        }
      }

      .p-accordion-header-link {
        text-align: left;
        background: #424350;
        color: white;
        border: 0;
        border-radius: 0;
        font-weight: 200;

        &:hover {
          background: white;
        }

        border-top: 1px solid;
        border-bottom: 1px solid;
      }
    }

    .p-accordion-content {
      text-align: left;
      font-size: 14px;
      border: 0;
      background: #33343d;
      color: white;
      padding: 10px;
      padding: 20px 10px 30px 10px;

      .p-accordion-header {
        font-weight: 200;

        &.p-highlight {
          a {
            background: #32353c;
            color: white;
            font-weight: bold;
          }
        }
      }

      .p-accordion-content {
        .p-accordion-header {
          &.p-highlight {
            a {
              background: #0382c9;
              color: white;
            }
          }
        }
      }

      .p-selectbutton {
        text-align: center;
      }

      .p-multiselect {
        width: 100%;
      }

      .p-colorpicker {
        width: 30px;
        height: 30px;

        input {
          border: 1px solid white;
        }
      }

      .p-accordion-header-link {
        padding: 9px;
        background: #32353c;
        border-bottom: 1px solid white !important;
        color: white;
      }

      .p-inputtext {
        width: 100%;
        border-radius: 0;
        background: #33343d;
        border: 0;
        color: white;
        text-align: center;
      }
    }
  }
}
