.node-info-details {
  padding: 10px;

  &-title {
    font-weight: 700;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &-table {
    margin-bottom: 40px;

    table {
      border-collapse: collapse;

      tr {
        text-align: left;

        th {
          font-weight: 700;
        }

        td {
          padding: 5px;
          border-top: 1px solid $white;
          border-bottom: 1px solid $white;
          vertical-align: top;

          &:nth-child(1) {
            width: 100px;
          }
        }
      }
    }
  }
}
