.node-info {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: $font-color;
  opacity: 0.8;
  color: $white;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  word-break: break-word;
  overflow: hidden;
  z-index: 10;

  &-navbar {
    height: auto;
    font-weight: 700;
    text-overflow: ellipsis;
    border-bottom: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-button {
      width: 42px;
      margin: auto 5px auto 2px;

      button {
        width: 100%;
        padding: 10px;
        background: transparent;
        font-size: 18px;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        border: none;
        color: $white;

        &:hover {
          background: $white;
          color: $secondary;
          transition: $transition;
        }
      }
    }
  }

  &-body {
    height: calc(100% - 45px);
    overflow: auto;

    &-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 42px;
        padding: 10px;
        background: transparent;
        font-size: 18px;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        border: none;
        color: $white;

        &:hover {
          background: $white;
          color: $secondary;
          transition: $transition;
        }
      }

      span {
        width: calc(100% - 84px);
        text-overflow: ellipsis;
      }
    }
  }
}
