.notes {
  &-select-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-accordion-row {
    width: 100%;

    .p-calendar {
      width: 100%;
      margin-top: 20px;

      .p-datepicker {
        width: 100%;
        padding: 0;

        &-group {
          width: 100%;

          &-container {
            width: 100%;
          }
        }

        &-header {
          width: 100%;
        }

        table {
          th {
            padding: 0;
            font-size: 14px;

            span {
              width: 1rem;
              height: 1rem;
            }
          }

          tr {
            padding: 0;
          }

          td {
            padding: 0;
            font-size: 12px;

            span {
              width: 1rem;
              height: 1.25rem;
              padding: 5px 0;
            }
          }
        }
      }
    }
  }

  &-list {
    width: 100%;
    text-align: center;
    padding: 0;

    &-search-input {
      width: 100%;

      input {
        width: 100%;
      }

      i {
        right: 10px !important;
      }
    }
  }

  &-highlight {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &-note {
    background-color: $white;
    color: $black;
    border-radius: 8px;
    text-align: left;

    textarea {
      min-height: 150px;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &-row {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;

    span {
      &:nth-child(2) {
        text-align: right;
      }
    }
  }

  &-content {
    font-size: 1rem;
    font-weight: 600;
  }
}
