.search-box {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  background: $font-color;
  opacity: 0.8;
  color: $white;
  width: 250px;
  height: 80px;
  padding: 10px;
  word-break: break-word;
  overflow: hidden;
  overflow-y: auto;
  z-index: 10;

  &-title {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
  }

  &-input {
    width: 230px;
    padding: 5px;
    position: relative;
    display: block;
    margin: auto;

    input {
      width: 80%;
      padding: 10px;
      padding-right: 30px;
      border-radius: 10px;
      outline: none;
    }

    svg {
      position: absolute;
      color: $font-color;
      right: 20px;
      top: 15px;
    }
  }
}
