.shortest-path {
  &-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      margin-left: 10px;
      text-align: left;
    }
  }

  &-dropdown {
    width: 100%;
    margin-top: -10px;

    .p-dropdown,
    .p-dropdown-panel,
    .p-dropdown-items,
    .p-dropdown-items-wrapper,
    .p-input {
      width: 100%;
    }

    .p-dropdown-item {
      width: 100%;
      word-break: break-word;
      height: auto;
      white-space: normal;
    }
  }

  &-multiselect {
    width: 100%;

    .p-multiselect,
    .p-multiselect-panel,
    .p-multiselect-items,
    .p-multiselect-items-wrapper,
    .p-input {
      width: 100%;
    }

    .p-multiselect {
      &-label {
        color: $font-color;
      }

      &-item {
        width: 100%;
        word-break: break-word;
        height: auto;
        white-space: normal;
        text-align: left;
      }
    }
  }

  &-node {
    width: 100%;
    margin: 10px auto 70px;
  }
}
