.sidebar {
  display: flex;
  flex-direction: row;
  background: $dark-background-lighter;
  color: $white;
  width: 100%;
  max-width: 360px;
  height: 100%;

  &-closed {
    height: 100%;
  }

  &-icons {
    height: 100%;
    width: 50px;
    background: $dark-background;
    overflow-y: auto;

    .p-button {
      font-size: 24px;
      width: 100%;
      height: 50px;
      outline: none;
      border: none;
      background: $dark-background;
      color: $white;
      border-top: 1px solid $dark-background;
      border-bottom: 1px solid $dark-background;
      overflow: hidden;
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;

      &:enabled {
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          border: transparent;
        }
      }

      &:hover {
        color: $dark-background;
        background: $white;
        transition: $transition;
      }

      &.sidebar-bar-button-selected {
        color: $white;
        background: $primary;
        transition: $transition;
      }

      &-label {
        display: none;
      }

      svg {
        font-size: 24px;

        &:nth-child(1) {
          font-size: 24px;
        }

        &:nth-child(2) {
          font-size: 18px;
          position: absolute;
          bottom: 5px;
          right: 10px;
        }
      }
    }

    .toggle-view-button {
      svg {
        &:nth-child(2) {
          margin-bottom: 10px;
          font-size: 24px;
        }

        &:nth-child(3) {
          font-size: 18px;
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
      }
    }
  }

  &-main {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondary;
    overflow: hidden;

    &-title {
      font-weight: 600;
      font-size: 21px;
      padding: 24px;
      height: 70px;
      display: flex;
      background: $dark-background;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      color: $white;

      .p-button {
        font-size: 18px;
        width: 24px;
        height: 24px;
        outline: none;
        background: transparent;
        color: $white;
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    &-body {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 24px;

      &-title {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
      }

      &-subtitle {
        font-size: 1rem;
        font-weight: 600;
      }

      &-label {
        display: block;
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        margin-bottom: 0 !important;
      }

      &-info {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  &-button {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    margin: 2rem auto;
    padding: 12px 20px;

    &-primary {
      @extend .sidebar-button;

      background: $primary !important;
      color: $white;

      &:hover,
      &:enabled:hover {
        background: $white !important;
        color: $primary !important;
      }
    }

    &-secondary {
      @extend .sidebar-button;

      background: $white !important;
      color: $primary !important;

      &:hover {
        color: $white !important;
        background: $primary !important;
      }

      &:enabled {
        &:hover {
          color: $white !important;
          background: $primary !important;
        }
      }
    }
  }
}
