.sidebar {
  display: flex;
  flex-direction: row;
  background: $grey;
  color: $white;
  width: 100%;
  max-width: 360px;
  height: 100%;

  &-closed {
    width: 50px;
    height: 100%;
  }

  &-icons {
    height: 100%;
    width: 50px;
    background: $dark-grey;
    overflow-y: auto;

    button {
      font-size: 24px;
      width: 100%;
      height: 50px;
      outline: none;
      border: none;
      background: $dark-grey;
      color: $white;
      border-top: 1px solid $dark-grey;
      border-bottom: 1px solid $dark-grey;
      cursor: pointer;

      &:hover {
        color: $dark-grey;
        background: $white;
        transition: $transition;
      }

      &.sidebar-bar-button-selected {
        color: $white;
        background: $grey;
        transition: $transition;
      }
    }
  }

  &-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $secondary;
    overflow: hidden;

    &-title {
      font-weight: 700;
      border-bottom: 1px solid $white;
      padding: 10px;
    }
  }
}
