@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "_colors";
@import "_typography";
@import "_utils";
@import "_buttons";

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $font-color;
  background: $white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body,
#__next {
  display: flex;
  flex-flow: column;
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 210px);
}

// Components
@import "_header";
@import "_nav";
@import "_footer";
@import "_sidebar";
@import "_mainview";
@import "_nodeinfo";
@import "_nodeinfodetails";
@import "_networkgraphlist";
@import "_nodeneighbourhood";
@import "_nodesselection";
@import "_nodesselectiondetails";
@import "_edgesselection";
@import "_edgesselectiondetails";
@import "_networksettings";
@import "_exportsettings";
@import "_freetextsearch";
@import "_spacing_helper";
@import "_shortestpath";
@import "_contextmenu";
@import "_boundingbox";
